<ion-header>
    <ion-navbar>
        <ion-segment [(ngModel)]="currentSegment">
            <ion-segment-button value="studentInfo">
                学生信息
            </ion-segment-button>
            <ion-segment-button value="coursePayment">
                课程缴费
            </ion-segment-button>
        </ion-segment>
        <ion-buttons end>
            <button ion-button (click)="goToEditStudentPage()">
                编辑学生
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="currentSegment === 'studentInfo'">

        <ion-item>
            <h2>用户名</h2>
            <p>{{student.username}}</p>
        </ion-item>

        <ion-item>
            <h2>名字</h2>
            <p>{{student.firstname}}</p>
        </ion-item>

        <ion-item>
            <h2>姓氏</h2>
            <p>{{student.lastname}}</p>
        </ion-item>

        <ion-item>
            <h2>邮箱</h2>
            <p>{{student.email}}</p>
        </ion-item>

        <ion-item>
            <h2>电话</h2>
            <p>{{student.phone}}</p>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="currentSegment === 'coursePayment'">
        <ion-item-divider>
            点击想要缴费的课程
        </ion-item-divider>
        <button ion-item *ngFor="let course of courses" (click)="goToPaymentPage(course)">
            {{course.name}}
        </button>
    </ion-list>
</ion-content>
