<ion-header>
  <ion-toolbar>
    <ion-title>学生列表</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCreateStudentPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-group *ngIf="selectedSchool === null">
      <ion-item-divider color="light">选择想要查询学生的学校</ion-item-divider>
      <button ion-item *ngFor="let school of schools" (click)="selectSchool(school)">
        {{school.name}}
      </button>
    </ion-item-group>
    <ion-item-group *ngIf="selectedSchool !== null">
      <ion-row>
        <ion-col>
          <ion-item>{{selectedSchool.name}}有以下学生</ion-item>
        </ion-col>
        <ion-col>
          <button ion-button full color="light" (click)="reselectSchool()">重新选择学校</button>
        </ion-col>
      </ion-row>
      <button ion-item *ngFor="let student of students" (click)="goToEditStudentPage(student)">
        {{student.firstname + student.lastname}}
      </button>
    </ion-item-group>
  </ion-item-group>
</ion-content>
