<ion-header>
    <ion-navbar>
        <ion-segment [(ngModel)]="currentSegment">
            <ion-segment-button value="courseInfo">
                课程信息
            </ion-segment-button>
            <ion-segment-button value="studentRegister">
                注册学生
            </ion-segment-button>
        </ion-segment>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToEditCoursePage()">
                编辑课程
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="currentSegment === 'courseInfo'">

        <ion-item>
            <h2>课程名称</h2>
            <p>{{course.name}}</p>
        </ion-item>

        <ion-item>
            <h2>课程描述</h2>
            <p>{{course.description}}</p>
        </ion-item>

        <ion-item>
            <h2>课程费用</h2>
            <p>{{course.fee}}</p>
        </ion-item>

    </ion-list>

    <ion-list *ngIf="currentSegment === 'studentRegister'">
        <ion-item-divider>
            <p float-left>
                点击想要注册的学生
            </p>
        </ion-item-divider>
        <button ion-item *ngFor="let student of students" (click)="registerStudent(student)">
            <h2 float-left>
                {{student.lastname}} {{student.firstname}}
            </h2>
            <p float-right [style.visibility]="student.registered ? 'visible' : 'hidden'">
                已注册
            </p>
        </button>
    </ion-list>
</ion-content>
